@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>We are a small italian pizzeria placed at the outskirts of Thorn.</p>
            <p>You want a <em>good pizza</em>? We've got it <em>here</em> for you :)</p>
            <hr />
            <h3>Want a good dough recipe? Here you go</h3>
            <h4>Ingredients</h4>
            <ul>
                <li> 1 kg white bread flour or Tipo '00' flour , or 800g strong white bread flour or Tipo '00' flour, plus 200g finely ground semolina flour</li>
                <li>1 teaspoon fine sea salt</li>
                <li>2 x 7 g dried yeast sachets</li>
                <li>1 tablespoon golden caster sugar</li>
                <li>4 tablespoons extra virgin olive oil</li>
            </ul>
            <h4>Preps</h4>
            <ol>
                <li>Sieve the flour/s and salt on to a clean work surface and make a well in the middle.</li>
                <li>In a jug, mix the yeast, sugar and oil into 650ml of lukewarm water and leave for a few minutes, then pour into the well.</li>
                <li>Using a fork, bring the flour in gradually from the sides and swirl it into the liquid. Keep mixing, drawing larger amounts of flour in, and when it all starts to come together, work the rest of the flour in with your clean, flour-dusted hands. Knead until you have a smooth, springy dough.</li>
                <li>Place the ball of dough in a large flour-dusted bowl and flour the top of it. Cover the bowl with a damp cloth and place in a warm room for about an hour until the dough has doubled in size. </li>
                <li>Now remove the dough to a flour-dusted surface and knead it around a bit to push the air out with your hands – this is called knocking back the dough. You can either use it </li>
                <li>If using straight away, divide the dough up into as many little balls as you want to make pizzas – this amount of dough is enough to make about six to eight medium pizzas. </li>
                <li>Timing-wise, it’s a good idea to roll the pizzas out about 15 to 20 minutes before you want to cook them. Don’t roll them out and leave them hanging around for a few hours, though – if you are working in advance like this it’s better to leave your dough, covered with clingfilm, in the fridge. However, if you want to get them rolled out so there’s one less thing to do when your guests are round, simply roll the dough out into rough circles, about 0.5cm thick, and place them on slightly larger pieces of olive-oil-rubbed and flour-dusted tin foil. You can then stack the pizzas, cover them with clingfilm, and pop them into the fridge.</li>
            </ol>


        </div>
        <div class="col-md-6">
            <img class="about-bg" src="~/Content/Images/AboutBG.jpg" alt="Italian Pizerria at night" />
        </div>
    </div>
</div>