@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Pizzeerria</h1>
        <p class="lead">Wlcome to out pizzria</p>
        <p class="btn btn-default btn-lg">@Html.ActionLink("Check out our Menu", "Menu", "Products")</p>

    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Fast Deliveyr</h2>
        <p>
            VERY FADAAAAAAAAAAAAAAAAAAAASSTSTTTT
        </p>
    </div>
    <div class="col-md-4">
        <h2>TASTY PIAZZA</h2>
        <p>Can't teell if its gone bad if its all covrd in cheeezse</p>
    </div>
</div>