@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron main-Card">
        <h1><b>Pizzeerria</b></h1>
        <p class="lead">Welcome to our pizzeria</p>
        <p class="btn btn-default btn-lg">@Html.ActionLink("Check out our Menu", "Menu", "Products")</p>

    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Fast Delivery</h2>
        <p>
            VERY FAAAAAAAAAAAAAAAAAAAAASSSSSSTTTTT
            ONLY 30 MINUTES!!1!
        </p>
    </div>
    <div class="col-md-4">
        <h2>TASTY PIAZZA</h2>
        <p>Can't tell if its gone bad if its all covered in cheeese</p>
    </div>
</div>