@model PizzeriaTNAI.Entities.Models.Order
@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

@using (Html.BeginForm("Pay", "Basket"))
{
    @Html.EditorFor(a => a)


    @Html.ValidationSummary()
    <div>
        <a href="">back</a>
        <input type="submit" value="Submit" />
    </div>
}

