body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.pizza-img {
    height: 250px;
    width: 230px;
}
.basket-circle {
    display: block;
    background-color: cornsilk;
    width: 1em;
    border-radius: 90px;
    position: relative;
    bottom: 38px;
    left: 25px;
    text-align: center;
}

.pizza-orders-details {
    text-align: center;
}
.basket-img {
    width: 50px;
    height: 50px;
}
.navbar-inverse {
    /* background-color: #4a26fd !important; */
    background-color: #E3121D!important;
    height: 20px
}
.text-white {
    color: white !important;
}

.basket {
    float: right;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}
@media (max-width: 768px) {
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        background-color: #B00020 !important;
    }
}