a:visited {
    color: inherit;
}
.pizza-img {
    height: 250px;
    width: 230px;
}
.pizza-price {
    color: rgb(49, 49, 49);
    font-size: 1.2rem;
    font-family: DINCondensed;
    font-stretch: condensed;
    font-weight: normal;
    white-space: nowrap;
    margin: 0px 1rem 0px 0px;
    padding: 0px;
}
.basket-circle {
    display: block;
    background-color: cornsilk;
    width: 1em;
    border-radius: 90px;
    position: relative;
    bottom: 38px;
    left: 25px;
    text-align: center;
}
.order-details-table th, td{
    padding: 0 15px ;
}

