@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pay</h2>

@using (Html.BeginForm("Pay", "Orders"))
{
    @Html.EditorFor(a => a)


    @Html.ValidationSummary()
    <div>
        <a href="/Basket">back</a>
        <input type="submit" value="Submit" class="btn-primary btn"/>
    </div>
}